.movies-container {
  padding: 1.25rem;
  color: #fff;
}

.movies-filter-container {
  margin-bottom: 2rem;
}

.movies-container h1 {
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media (min-width: 920px) {
  .movies-container h1 {
    font-size: 3rem;
  }
}
